{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   행동강화물품 사후조사 불참자용 설문
{% endblock %}

{% block content %}

    <p class="alert-form-label">
        사후테스트 실시 못한 경우에는 이 부분만 작성해주시기 바랍니다.
    </p>

    <p>★★ 지급된 행동강화물품의 일련번호(세 자리 숫자) 를 적어주시기 바랍니다. ★★</p>
    <div class="alert border">{% formfield player.behavior_strengthening_material_barcode %}</div>

{#    <div class="alert border">{%formfield player.participant_name %}</div>#}
{#    <div class="alert border">{%formfield player.organization_type %}</div>#}
    <div class="alert border">{% formfield player.TERMINATION %}</div>
    <div class="alert border">{% formfield player.termination_reason %}</div>
    <div class="alert border">{% formfield player.text_field %}</div>

    <button class="btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.

    </button>

{% endblock %}
