{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   행동강화물품 사후조사
{% endblock %}

{% block content %}

    <p class="alert-form-label">
        사후테스트 실시 못한 경우에는 이 부분만 작성해주시기 바랍니다.
    </p>
    <div class="alert border">{% formfield player.TERMINATION %}</div>
    <div class="alert border">{% formfield player.termination_reason %}</div>
    <div class="alert border">{% formfield player.text_field %}</div>

    <button class="btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.

    </button>

{% endblock %}
