{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   행동강화물품 사후조사
{% endblock %}

{% block content %}
    <div class="alert"><b>행동강화물품 사후조사 관련 질문입니다.</b>
         <div class="alert border">{%formfield player.participant_name %}</div>
         <div class="alert border">{%formfield player.organization_type %}</div>
        <div class="border">
            귀하께서는 사후테스트에 참여하셨습니까?
            <div>{% formfield player.num_post_not %}</div>
        </div>
    </div>

    <button class="btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.

    </button>

{% endblock %}
