{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
스트룹 테스트: {{ subsession.round_number }}/{{ Constants.num_rounds }}단계
{% endblock %}

{% block app_scripts %}
    <script>
    $("#next_button").click(function(event){
        if (true){
            if(confirm("이제 테스트를 시작합니다. 완전히 이해가 되셨으면 확인(OK)을, " +
                "아니라면 취소(Cancel)를 눌러 다시 한번 테스트 방법을 확인해 주세요.")){
                $("#form").submit();
            }else{
                return false;
            }
        }
    });

    </script>
{% endblock %}

{% block content %}
    <div class="container">
       <div class = "row h5">
           <div>
               <ul>
                   {% for message in messages %}
                       <li>
                            {{ message }}
                       </li>
                   {% endfor %}
               </ul>
           </div>
           <div>
                너무 늦게 반응하거나 너무 많은 실수를 하면 검사 결과가 나오지 않거나 해석이 불가능합니다.
                틀리게 응답하실 경우 <span class="emph">X</span> 표시가 나타납니다.
                <span class="emph black">최대한 실수를 하지 않으면서 가능한한 빠르게 반응하는 것이 중요합니다. </span>
           </div>
       </div>
      <div class = "row h1">

       </div>
       <div class="text-center" id = "CBST_IMAGE">
            <img src="{% static "" %}{{ cbst_image }}" alt="CBST_IMAGE" width="60%" style="padding:10px">
       </div>
       <div class="row">
            <button class="btn btn-primary btn-large active" id="next_button">
                   준비되셨으면 이 버튼을 눌러주십시오.
            </button>
       </div>
    </div>


{% endblock %}
