{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    연구참여자 설명문 및 동의서
{% endblock %}

{% block content %}
    <div class="alert alert-primary">
        <ul>
            <li>연구 과제명: 흡연 및 금연 경험에 관한 연구</li>
            <li>연구 책임자명 : 조남운(한국행동경제학연구소, 수석연구원)</li>
        </ul>
    </div>
    <div class="panel-body">
        <p>
            본 연구는 흡연 및 금연 경험에 관한 연구입니다.
            귀하는 본 연구에 참여할 것인지 여부를 결정하기 전에, 설명서와 동의서를 신중하게 읽어보셔야 합니다.
            이 연구가 왜 수행되며, 무엇을 수행하는지 귀하가 이해하는 것이 중요합니다.
            이 연구를 수행하는 김진영, 권순탁 연구원이 귀하에게 이 연구에 대해 설명해 줄 것입니다.
            이 연구는 자발적으로 참여 의사를 밝히신 분에 한하여 수행 될 것입니다.
            다음 내용을 신중히 읽어보신 후 참여 의사를 밝혀 주시길 바라며, 필요하다면 가족이나 친구들과 의논해 보십시오.
            만일 어떠한 질문이 있다면 담당 연구원이 자세하게 설명해 줄 것입니다.
            귀하가 동의여부에 표시하는 것은 귀하가 본 연구에 대해 그리고 위험성에 대해 설명을 들었음을 의미하며, 이 문서에 대한 귀하의 동의 표시는 귀하께서 자신(또는 법정대리인)이 본 연구에 참가를 원한다는 것을 의미합니다.
        </p>
    <h3>1. 연구의 배경과 목적</h3>
    <p>
        본 연구는 금연 경험이 있는 분들의 흡연 패턴 및 동기 강화와 금연 유지에 미치는 효과를 알아보고자 하고 있습니다. 현재 금연프로그램 진행시 지급하는 물품들은 "행동강화물품"이라고 부르는데, 이러한 물품들이 금연 동기와 금연 유지에 어떤 효과를 주는지 알아보고자 합니다.
    </p>
    <h3>2. 연구 참여 대상</h3>
    <p>
        본 연구에는 금연 프로그램에 참여하는 분들 중 300명이 참여할 것입니다. 금연프로그램 참가 외의 선정 및 제외 기준은 없습니다. 즉, 금연 프로그램에 참가하시는 분이라면 누구나 제한없이 참가하실 수 있습니다.
    </p>
    <h3>
        3. 연구 방법
    </h3>
    <p>
        만일 귀하가 참여의사를 밝혀주시면 다음과 같은 과정이 진행될 것입니다.
    </p>

        <p>(1) 1차 설문 및 테스트: 통상의 금연 프로그램 등록 절차를 진행하고 나면 금연 동기와 금연 유지에 미치는 영향, 집중력과 인지능력에 미치는 영향을 알아보기 위해 추가 설문과 함께 인지 및 집중력 테스트가 진행됩니다.</p>
        <p>(2) 물품꾸러미 수령: 설문 및 테스트가 끝나면 6종류의 물품꾸러미중 하나를 임의로 지급받게 됩니다. 이 꾸러미는 일련번호에 의해 무작위로 지급되며, 다른 꾸러미로 교환할 수 없습니다.</p>
        <p>(3) 1주일간 일상생활: 이후 1주일간 금연 관리센터를 통해 금연 관련 정보 및 물품 꾸러미 사용 방법에 대한 안내가 제공될 수 있습니다.</p>
        <p>(4) 2차 설문 및 테스트: 설문 및 테스트 1주일 뒤 설문 및 테스트가 완료되면 전체 과정이 완료됩니다.</p>
        <p>(5) 과정이 완료되고 난 뒤에는 자유롭게 원하시는 물품을 선택하고 사용할 수 있습니다. </p>
    <p></p>
    <p>
        테스트 수행 장소는 방문하신 금연지원센터에서 이루어지며, 소요시간은 1차 설문 및 테스트가 30분, 2차 설문 및 테스트가 15분 정도입니다.
    </p>
    <h3>
        4. 연구 참여 기간
    </h3>
    <p>
        귀하는 본 연구를 위해 1주일 간격으로 2회의 설문 및 테스트를 진행합니다. 만일 귀하께서 사정상 2번째 설문 및 테스트를 1주일 뒤에 하지 못할 경우 시간 간격은 늘어날 수 있습니다.
    </p>
    <h3>
        5. 연구 참여에 따른 이익
    </h3>
    <p>
        귀하가 이 연구에 참여하는데 있어서 직접적인 이득은 없습니다. 그러나 귀하가 제공하는 정보는 효과적인 금연 프로그램 정책 설계에 도움이 될 것입니다.
    </p>
    <h3>
        6. 부작용 또는 위험과 불편함
    </h3>
    <p>
        본 연구는 일상적인 금연 프로그램과 거의 차이가 없으므로 참여중 특별한 위험과 불편감이 예상되지는 않습니다. 하지만 연구 참여 도중 어떤 형태로든 부작용이나 위험 요소, 불편감 등에 대한 질문이 있을 경우 담당 연구원에게 즉시 문의해 주십시오. 연구 수행 중 중단을 원하시면 언제든 중단의사를 밝혀주신 후 그만둘 수 있습니다. (연락처는 본 설명서 및 동의서 아래쪽에 있습니다.)
    </p>
    <h3>
        7. 연구 참여에 따른 보상 또는 비용
    </h3>
    <p>
        1차 설문 완료시 5천원 상당의, 그리고 2차 설문을 마쳤을 때 5천원 상당의 문화상품권이 귀하에게 지급될 것입니다. (즉, 총 1만원 상당의 문화상품권이 지급됩니다) 이는 금연프로그램 이수중 받게 되는 혜택에 추가로 제공됩니다.
        귀하가 본 연구에 참여함으로써 추가로 지불하는 비용은 없습니다.
    </p>
    <h3>
        8. 개인정보와 비밀보장
    </h3>
    <p>
        본 연구의 참여로 귀하에게서 수집되는 개인정보는 다음과 같습니다.
    </p>
    <p class="alert-info">
        설문조사 응답의 통계적 분류를 위한 사회인구학적 정보: 출생년도, 성별, 학력, 결혼여부, 직업군, 개인 및 가족소득구간
    </p>
    <p>
        금연 프로그램 참가 중 제공하실 개인 정보 중 위 개인정보만이 본 연구진에게 전달됩니다. 따라서 연구진은 전달받은 정보만으로 연구 참가자를 식별할 수 없습니다.
    </p>
    <p></p>
    <p>
        이 정보는 연구기간 종료로부터 3년 후 폐기될 때까지 연구를 위해 사용되며, 수집된 정보는 개인정보보호법에 따라 적절히 관리됩니다. 관련 정보는 (주)한국행동경제학연구소의 서버에 암호화되어 저장되며, 조남운, 어수진, 김종환, 문규범, 이지원, 김진영, 권순탁 연구원만이 접근 가능합니다. 본 연구진은 연구를 통해 얻은 모든 개인정보의 비밀 보장을 위해 최선을 다할 것입니다. 이 연구에서 얻어진 개인 정보가 학회지나 학회에 공개 될 때 귀하의 아이디와 다른 개인 정보는 사용되지 않을 것입니다.
    </p>
    <p></p>
    <p>
        그러나 만일 법이 요구하면 귀하의 개인정보는 제공될 수도 있습니다. 또한 모니터 요원, 점검 요원은 연구대상자의 비밀보장을 침해하지 않고 관련 규정이 정하는 범위 안에서 본 연구의 실시 절차와 자료의 신뢰성을 검증하기 위해 연구 관련 자료를 직접 열람하거나 제출을 요청할 수 있습니다. 귀하가 본 동의서에 서명하는 것은, 이러한 사항에 대하여 사전에 알고 있었으며 이를 허용한다는 의사로 간주될 것입니다. 연구 종료 후 연구관련 자료는 연구종료 후 3년간 보관됩니다. 보관기간이 끝나면 디지털화 되어 저장된 자료는 복원 불가능한 파일삭제방법으로 서버로부터 폐기될 것입니다.
    </p>

    <h3>
        9. 자발적 연구 참여와 중지
    </h3>
    <p>
        귀하는 본 연구에 참여하지 않을 자유가 있으며 본 연구에 참여하지 않아도 귀하에게는 어떠한 불이익도 없습니다. 또한, 귀하는 연구에 참여하신 언제든지 도중에 그만 둘 수 있습니다. 만일 귀하가 연구에 참여하는 것을 그만두고 싶다면 담당연구원이나 연구책임자에게 즉시 말씀해 주십시오. 참여 중지 시 귀하의 자료는 더 이상 연구에 사용되지 않고 안전 파일 삭제, 문서 파쇄의 방법으로 폐기될 것입니다.
    </p>
    <h3>
        10. 중도탈락 기준
    </h3>
    <p>
        본 연구에서는 중도탈락 기준이 없습니다. 다만, 1차 설문 및 테스트 시점부터 금연시작을 약속하셔야 합니다. 금연 성공 여부는 본 연구의 중도탈락 여부와 무관합니다. 즉, 설령 금연이 실패하더라도 2차 설문 및 테스트에 참가하실 수 있습니다.
    </p>
    <h3>
        11. 연구 문의
    </h3>
    <p>
        본 연구에 대해 질문이 있거나 연구 중간에 문제가 생길 시 다음 연구 담당자에게 언제든지 연락하십시오.
    </p>
    <p class="alert-info">
        이름: 정태성 (한국행동경제학연구소 대표이사)        전화번호: 02-2138-8300
    </p>
{#    <p>#}
{#        만일 어느 때라도 연구대상자로서 귀하의 권리에 대한 질문이 있다면 다음의 보건복지부 지정 공용기관생명윤리위원회에 연락하십시오.#}
{#    </p>#}
{#    <p class="alert-info">#}
{#        보건복지부 지정 공용기관생명윤리위원회(공용위원회)     전화번호: 02-737-8990#}
{#    </p>#}
    </div>
    <button class="btn btn-primary btn-large active">
        이 버튼을 눌러 동의서를 확인해주시기 바랍니다.
    </button>

{% endblock %}
