{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    행동강화 물품이 금연동기강화 및 금연유지에 미치는 효과분석 온라인설문
{% endblock %}

{% block content %}
    <h3>6. 사용정보 – 액상형 전자담배</h3>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class ="tg">
    <thead>
        <tr>
            <th colspan="2">-액상형 전자담배
                <br>카트리지에 담긴 액체 니코틴 등을 초음파나 열로 기화시켜 증기를 흡입하는 방식의 전자담배</br> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{% static "global/image2.png" %}" alt="image2" height="400" width="150px">
</td>
            <td><img src="{% static "global/image3.png" %}" alt="image3" height="350" width="450px">
</td>
        </tr>
        <tr>
            <td colspan="2">-[카트리지]. [무화기], [배터리]로 구성
<br>-니코틴 액상 용량은 주로 한 병에 20-30mL, 대락 4만원 정도</br>
-흡연량에 따라 다르지만 대략 한 병당 15-20일 정도 사용 가능</td>
        </tr>
    </tbody>
    </table>
    <caption>출처: 조홍천 외, (2018)</caption>
    <p></p>
    <div class="alert border">{% formfield player.do_you_use_liquid_cigarette %}</div>

    <button class="btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.
    </button>

{% endblock %}
