{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    행동강화 물품이 금연동기강화 및 금연유지에 미치는 효과분석 온라인설문
{% endblock %}
{% block app_scripts %}
{#    <script src="{% static "jquery-ui-1.12.1/jquery-ui.js" %}"></script>#}
    <script>
        $(document).ready(function(){
            op_checker("id_occupation_10","occupation_op")
            op_checker("id_firm_type_6","firm_type_op")
            op_checker("id_num_drink_not_0","drink_questions");
            op_checker("id_reason_to_quit_smoking_this_time_primary_9","reason_to_quit_smoking_this_time_primary_op")
            op_checker("id_reason_to_quit_smoking_this_time_secondary_9","reason_to_quit_smoking_this_time_secondary_op")
            op_checker("id_reason_to_quit_smoking_this_time_tertiary_9","reason_to_quit_smoking_this_time_tertiary_op")


        })
    </script>
{% endblock %}
{% block content %}
  <div class="alert border">
      연구명: 행동강화 물품이 금연동기강화 및 금연유지에 미치는 효과분석
      <br>작성자: 조남운, 어수진, 김종환, 문규범, 이지원, 정태성 (한국행동경제학연구소)</br>
      김진영, 권순탁 (한림대학교 의과대학), 최은철 (고려대학교)
  </div>

    <h3>1. 설문개요</h3>
    <div class="alert border">
        흡연 및 금연경험자이고 근로자인 성인 300명 대상
        <br>생애중 (궐련형 기준) 100개비 이상 흡연한 적이 있는 20세 이상 60세 미만 흡연경험자</br>
        최근 1년 이내에 24시간 이상 금연 경험이 있는 금연 경험자
    </div>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
    <thead>
        <tr>
            <th class="tg-0pky" colspan="2">직군 및 성별 구분<br></th>
            <th class="tg-1wig">20대</th>
            <th class="tg-1wig">30대</th>
            <th class="tg-1wig">40대<br></th>
            <th class="tg-1wig">50대</th>
            <th class="tg-1wig">합계</th>
         </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-1wig" rowspan="2">관리자 및 사무 종사자</td>
            <td class="tg-1wig">남성</td>
            <td class="tg-0lax">79</td>
            <td class="tg-0lax">94</td>
            <td class="tg-0lax">82</td>
            <td class="tg-0lax">300</td>
            <td class="tg-0lax">43</td>
         </tr>
         <tr>
            <td class="tg-1wig">여성</td>
            <td class="tg-0lax">3</td>
            <td class="tg-0lax">6</td>
            <td class="tg-0lax">6</td>
            <td class="tg-0lax">4</td>
            <td class="tg-0lax">19</td>
        </tr>
        <tr>
            <td class="tg-1wig" rowspan="2">전문가 및 관련 종사자</td>
            <td class="tg-1wig">남성</td>
            <td class="tg-0lax">10</td>
            <td class="tg-0lax">16</td>
            <td class="tg-0lax">14</td>
            <td class="tg-0lax">8</td>
            <td class="tg-0lax">48</td>
        </tr>
        <tr>
            <td class="tg-1wig">여성</td>
            <td class="tg-0lax">4</td>
            <td class="tg-0lax">7</td>
            <td class="tg-0lax">6</td>
            <td class="tg-0lax">3</td>
            <td class="tg-0lax">20</td>
        </tr>
        <tr>
            <td class="tg-1wig" rowspan="2">서비스 및 판매 종사자</td>
            <td class="tg-1wig">남성</td>
            <td class="tg-0lax">8</td>
            <td class="tg-0lax">11</td>
            <td class="tg-0lax">15</td>
            <td class="tg-0lax">14</td>
            <td class="tg-0lax">48</td>
        </tr>
        <tr>
            <td class="tg-1wig">여성</td>
            <td class="tg-0lax">3</td>
            <td class="tg-0lax">5</td>
            <td class="tg-0lax">6</td>
            <td class="tg-0lax">6</td>
            <td class="tg-0lax">20</td>
        </tr>
        <tr>
            <td class="tg-1wig" rowspan="2">기능원, 장치, 기계 조작 및 조립 종사자</td>
            <td class="tg-1wig">남성</td>
            <td class="tg-0lax">5</td>
            <td class="tg-0lax">10</td>
            <td class="tg-0lax">16</td>
            <td class="tg-0lax">16</td>
            <td class="tg-0lax">47</td>
        </tr>
        <tr>
            <td class="tg-1wig">여성</td>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax">4</td>
            <td class="tg-0lax">7</td>
            <td class="tg-0lax">7</td>
            <td class="tg-0lax">20</td>
        </tr>
        <tr>
            <td class="tg-1wig" rowspan="2">기타</td>
            <td class="tg-1wig">남성</td>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax">4</td>
            <td class="tg-0lax">7</td>
            <td class="tg-0lax">11</td>
            <td class="tg-0lax">24</td>
        </tr>
        <tr>
            <td class="tg-1wig">여성</td>
            <td class="tg-0lax">1</td>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax">3</td>
            <td class="tg-0lax">5</td>
            <td class="tg-0lax">11</td>
        </tr>
        <tr>
            <td class="tg-1wig" colspan="2">합계</td>
            <td class="tg-0lax">45</td>
            <td class="tg-0lax">79</td>
            <td class="tg-0lax">94</td>
            <td class="tg-0lax">82</td>
            <td class="tg-0lax">300</td>
        </tr>
    </tbody>
    </table>
    <caption>표 1 조사대상자 표집인원 할당표</caption>
    <p></p>
    <br>▷직군은 통계청 2017년 5월말 직종별 인구통계에 기반하여 비율을 할당</br>
    ▷남성과 여성 비율을 7:3 으로 할당한 것은 미보고에 의한 여성흡연율 과소추산을 고려한 실질 흡연율을 감안함 (정금지 외 2018)
    <br>▷설문조사의 표집 범위를 근로자로 한정한 이유는 연구 예산 제약상 다소 부족한 설문조사인원수의 문제를 보완하기 위한 것임</br>
    ▷금연경험자로 한정한 이유는 금연중 행동강화물품의 효과성이 연구의 핵심 질문이기 때문임
    <p></p>
    <h3>2. 층화표집을 위한 선별질문</h3>
    <div class="alert border">{% formfield player.gender %}</div>
    <div class="alert border">{% formfield player.born_year %}</div>
    <div class="alert border">{% formfield player.job_position %}</div>
    <div class="alert border">{% formfield player.smoking_in_lifetime_yesno %}</div>
    <div class="alert border">{% formfield player.within_past_one_year_smoking_cessation_attempted %}</div>
    <p></p>
    <h3>3. 인구통계학적 정보</h3>
    <div class="alert border">{% formfield player.region %}</div>
    <div class="alert border">{% formfield player.region_size %}</div>
    <div class="alert border">{% formfield player.marriage %}</div>
    <div class="alert border">{% formfield player.final_schooling %}</div>
    <div class="alert border">{% formfield player.occupation %}
    <div class="optional" id="occupation_op">{% formfield player.occupation_op %}</div></div>
    <div class="alert border">{% formfield player.firm_type %}
    <div class="optional" id="firm_type_op">{% formfield player.firm_type_op %}</div></div>
    <div class="alert border">{% formfield player.firm_size %}</div>
    <div class="alert border">{% formfield player.household_income %}</div>
    <p></p>
    <h3>4. 건강정보</h3>
    <div class="row alert border">
            <div class="alert"><b>다음은 음주에 대한 문항입니다. 자신의 현재 상태에 해당되는 내용을 선택해 주십시오.</b>
                <div class="border">
                    지난 1년간 술을 마신 적 있으십니까?
                    <div>{% formfield player.num_drink_not %}</div>
                </div>
                <div class="optional" id="drink_questions">
                    <div class="border">
                    <p class="alert-info">
                    술을 마신 횟수는 어느 정도입니까?</p>
                    <div>{% formfield player.drink_freq_1 %}</div>
                </div>
                <div class="row border alert">
                    <p class="alert-info">
                    술을 마시는 날은 보통 어느 정도 마십니까? (원하는 단위에 따라 작성해주세요, 숫자만 입력가능)</p>
                    <table>
                        <tr>
                            <th></th>
                            <th class="align-content-center">잔</th>
                            <th>병</th>
                        </tr>
                        <tr>
                            <td>소주</td>
                            <td>{% formfield player.alc_avg_1_jan %} </td>
                            <td>{% formfield player.alc_avg_1_bot %} </td>
                        </tr>
                        <tr>
                            <td>맥주</td>
                            <td>{% formfield player.alc_avg_2_jan %} </td>
                            <td>{% formfield player.alc_avg_2_bot %} </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>

        <div class="row alert border">
            <b>다음은 신체활동(운동)에 대한 문항입니다. 자신의 현재 상태에 해당되는 내용을 선택해주십시오.</b>
            <div style="border:3px solid skyblue; padding-left: 5px; padding-right: 5px">
                <div class="d-block">
                    <b>주1회</b>, 10분 이상, <u>중강도 운동</u>을 하십니까? <div class="d-inline-block">{% formfield player.mid_act_yesno %}</div>
                </div>
                <div class="d-block">
                    귀하가 주로 실천하시는 <b>중강도 운동</b>의 <u>종류</u>를 입력해주십시오. 운동종류: <div class="d-inline-block">{% formfield player.mid_act_type %}</div>
                </div>
                <div class="d-block">
                귀하는 일주일에 평균 몇 회 운동하십니까? <div class="d-inline-block">{% formfield player.mid_act_day %}</div>회
                </div>
                <div class="d-block">
                    귀하는 한 번 운동하실 때 평균 몇 분 운동하십니까? <div class="d-inline-block">{% formfield player.mid_act_min %}</div>
                </div>
            </div>
        </div>

        <div class="alert row border">
            <div class="alert border">{% formfield player.overall_health_evaluation %}</div>
            <div class="alert border">{% formfield player.overall_stress_evaluation %}</div>
        </div>

    <h3><p>5. 흡연정보 – 일반담배(궐련형)</p></h3>

    <div class="alert border"><p>현재 주로 사용중인 담배제품을 모두 선택해주세요 (복수선택 가능)</p>
        {% formfield player.tobacco_product_in_use_1 %}
        {% formfield player.tobacco_product_in_use_2 %}
        {% formfield player.tobacco_product_in_use_3 %}
        {% formfield player.tobacco_product_in_use_4 %}
        {% formfield player.tobacco_product_in_use_5 %}
        {% formfield player.tobacco_product_in_use_6 %}
        {% formfield player.tobacco_product_in_use_7 %}
        {% formfield player.tobacco_product_in_use_8 %}
        {% formfield player.tobacco_product_in_use_9 %}
        {% formfield player.tobacco_product_in_use_10 %}
        {% formfield player.tobacco_product_in_use_11 %}
        {% formfield player.tobacco_product_in_use_12 %}
	</div>
    <div class="alert border"><p>현재 일반담배(궐련)를 피우십니까?</p>
        <p>일반담배 (궐련)이란, 잘게 썬 담뱃잎을 종이 등에 말아 불을 붙여 피우는 방식의 가장 보편적인 담배 제품입니다. 본 질문에는 일반담배를 피우시는 분들만 답해 주시고, 전자담배 등 다른 방식의 담배 제품을 사용하시는 분은 별도의 질문에 답해주시기 바랍니다. </p>
         <img src="{% static "global/image1.png" %}" alt="image1" height="400px" width="600px">
                 {% formfield player.do_you_smoke_tobacco %}
	</div>
    <div class="alert border">{% formfield player.first_time_to_finish_one_stick_of_tobacco %}</div>
    <div class="alert border">{% formfield player.first_time_to_finish_one_stick_or_more %}</div>
    <div class="alert border">{% formfield player.avg_daily_tobacco_smoking_amount %}</div>
    <div class="alert border">{% formfield player.within_past_month_tobacco_smoking_days %}</div>
    <div class="alert border">{% formfield player.tobacco_sticks_per_day %}</div>
    <div class="alert border">{% formfield player.past_tobacco_smoking_years %}</div>
    <div class="alert border">{% formfield player.past_tobacco_smoking_months %}</div>
    <div class="alert border">{% formfield player.past_tobacco_sticks_per_day %}</div>
    <div class="alert border"><p>평소에 하루 중 일반담배(궐련) 흡연을 참기 힘든 시기는 언제입니까? (해당사항 모두 표시)</p>
        {% formfield player.hardest_time_to_resist_smoking_1 %}
        {% formfield player.hardest_time_to_resist_smoking_2 %}
        {% formfield player.hardest_time_to_resist_smoking_3 %}
        {% formfield player.hardest_time_to_resist_smoking_4 %}
        {% formfield player.hardest_time_to_resist_smoking_5 %}
        {% formfield player.hardest_time_to_resist_smoking_6 %}
        {% formfield player.hardest_time_to_resist_smoking_7 %}
        {% formfield player.hardest_time_to_resist_smoking_8 %}
        {% formfield player.hardest_time_to_resist_smoking_9 %}
        {% formfield player.hardest_time_to_resist_smoking_10 %}
        {% formfield player.hardest_time_to_resist_smoking_11 %}
	</div>
    <div class="alert border">{% formfield player.first_tobacco_of_the_day %}</div>
    <div class="alert border">{% formfield player.is_it_hard_to_resist_smoking_in_the_public %}</div>
    <div class="alert border">{% formfield player.when_is_tobacco_the_most_tasty %}</div>
    <div class="alert border">{% formfield player.number_of_sticks_per_day_in_the_past %}</div>
    <div class="alert border">{% formfield player.is_morning_tobacco_more_tasty_than_the_rest %}</div>
    <div class="alert border">{% formfield player.sick_all_day_still_smoking %}</div>
    <p></p>
    <h3>6. 사용정보 – 액상형 전자담배</h3>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class ="tg">
    <thead>
        <tr>
            <th colspan="2">-액상형 전자담배
                <br>카트리지에 담긴 액체 니코틴 등을 초음파나 열로 기화시켜 증기를 흡입하는 방식의 전자담배</br> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{% static "global/image2.png" %}" alt="image2" height="400" width="150px">
</td>
            <td><img src="{% static "global/image3.png" %}" alt="image3" height="350" width="450px">
</td>
        </tr>
        <tr>
            <td colspan="2">-[카트리지]. [무화기], [배터리]로 구성
<br>-니코틴 액상 용량은 주로 한 병에 20-30mL, 대락 4만원 정도</br>
-흡연량에 따라 다르지만 대략 한 병당 15-20일 정도 사용 가능</td>
        </tr>
    </tbody>
    </table>
    <caption>출처: 조홍천 외, (2018)</caption>
    <p></p>
    <div class="alert border">{% formfield player.do_you_use_liquid_cigarette %}</div>
    <div class="alert border">
        귀하께서는 액상형 전자담배(쥴, 탱크형 등)를 언제 시작하셨습니까?
    </div>
    <div class="d-block"> 20<div class="d-inline-block">{% formfield player.liquid_cigarette_start_year %}</div>년 <div class="d-inline-block">{% formfield player.liquid_cigarette_start_month %}</div>월</div>
    <div class="alert border">
        마지막으로 액상형 전자담배(쥴, 탱크형 등)를 사용한 시기는 언제입니까?
    </div>
    <div class="d-block"> 20<div class="d-inline-block">{% formfield player.liquid_cigarette_end_year %}</div>년 <div class="d-inline-block">{% formfield player.liquid_cigarette_end_month %}</div>월</div>
    <div class="alert border">{% formfield player.most_recent_month_liquid_cigarette_use_days %}</div>
    <div class="alert border">
		귀하가 최근 1주일간 사용한 액상형 전자담배(쥴, 탱크형 등) 액상의 양(ml)은 얼마입니까?
    </div>
    <div class="d-block"> <div class="d-inline-block">{% formfield player.liquid_amount_of_liquid_cigarette_recent_week %}</div>ml</div>
    <div class="alert border">{% formfield player.liquid_cigarette_density %}</div>
    <div class="alert border"><p>평소에 하루 중 액상형 전자담배(쥴, 탱크형 등) 사용을 참기 힘든 시기는 언제입니까? (해당사항 모두 표시)</p>
        {% formfield player.liquid_cigarette_hardest_to_resist_when_1 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_2 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_3 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_4 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_5 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_6 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_7 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_8 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_9 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_10 %}
        {% formfield player.liquid_cigarette_hardest_to_resist_when_11 %}
	</div>
    <div class="alert border">{% formfield player.liquid_cigarette_first_in_the_day %}</div>
    <div class="alert border">{% formfield player.is_it_hard_to_resist_smoking_liquid_cigarette_in_public %}</div>
	<div class="alert border">{% formfield player.when_is_the_liquid_cigarette_the_most_tasty %}</div>
    <div class="alert border">{% formfield player.liquid_cigarette_use_frequency_per_day %}</div>
    <div class="alert border">{% formfield player.liquid_cigarette_morning_is_more_tasty_than_the_rest %}</div>
    <div class="alert border">{% formfield player.liquid_cigarette_sick_all_day_still_smoking %}</div>
    <p></p>
    <h3>7. 사용정보 – 궐련형 전자담배</h3>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class ="tg">
    <thead>
        <tr>
            <th colspan="3">궐련형 전자담배 (가열담배, 예> 아이코스, 글로, 릴 등)
<br>- 액상 니코틴이 아닌 담배를 가열해서 에어로졸을 흡입하는 방식의 전자담배입니다</br></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-0lax">아이코스</td>
            <td class="tg-0lax">글로</td>
            <td class="tg-0lax">릴</td>
        </tr>
        <tr>
            <td class="tg-0lax"><img src="{% static "global/image4.png" %}" alt="image4" height="150" width="150px"></td>
            <td class="tg-0lax"><img src="{% static "global/image5.png" %}" alt="image5" height="150" width="150px"></td>
            <td class="tg-0lax"><img src="{% static "global/image6.png" %}" alt="image6" height="150" width="150px"></td>
        </tr>
        <tr>
            <td class="tg-0lax">- [충전기], [흡입기], [담배형태의 스틱]으로 구성
<br>- 1회 충전 시 1개의 스틱을 사용하여 약 14회 흡입 혹은 6분 간 사용 가능</br>
- 본체 가격은 12만원이며 스틱은 20개 당 4,300원임</td>
            <td class="tg-0lax">- [본체-흡입기], [담배형태의 스틱]으로 구성
                <br>- 1회 충전으로 최대 30개비를 피울 수 있음</br>
- 본체가격은 9만원이며 스틱은 20개 당 4,300원</td>
            <td class="tg-0lax">- [본체-흡입기], [담배형태의 스틱]으로 구성
                <br>- 1회 충전으로 최대 20개비를 피울 수 있음</br>
- 본체가격은 9만 5천원이며 스틱은 20개 당 4,300원</td>
        </tr>
    </tbody>
    </table>
    <caption>출처: 조홍준 외, (2018)</caption>
    <div class="alert border">{% formfield player.do_you_use_tobacco_type_e_cigarette %}</div>
    <div class="alert border">
        귀하께서는 궐련형 전자담배(가열담배, 예: 아이코스, 글로, 릴 등)를 언제 시작하셨습니까?
    </div>
    <div class="d-block"> 20<div class="d-inline-block">{% formfield player.tobacco_type_e_cigarette_start_year %}</div>년 <div class="d-inline-block">{% formfield player.tobacco_type_e_cigarette_start_month %}</div>월</div>
    <div class="alert border">
		마지막으로 궐련형 전자담배(가열담배, 예: 아이코스, 글로, 릴 등)를 사용한 시기는 언제입니까?
    </div>
    <div class="d-block"> 20<div class="d-inline-block">{% formfield player.tobacco_type_e_cigarette_end_year %}</div>년 <div class="d-inline-block">{% formfield player.tobacco_type_e_cigarette_end_month %}</div>월</div>
    <div class="alert border">
		최근 1달 간 궐련형 전자담배(가열담배, 예: 아이코스, 글로, 릴 등) 사용일수
    </div>
    <div class="d-block"> <div class="d-inline-block">{% formfield player.within_recent_month_days_of_use_for_tobacco_type_e_cigarette %}</div>일</div>
    <div class="alert border">
		궐련형 전자담배(가열담배, 예: 아이코스, 글로, 릴 등)를 사용한 날 하루 평균 사용량
    </div>
    <div class="d-block"> <div class="d-inline-block">{% formfield player.tobacco_type_e_cigarette_avg_sticks_per_day %}</div>개비</div>
    <div class="alert border"><p>평소에 하루 중 궐련형 전자담배(가열담배, 예: 아이코스, 글로, 릴 등) 사용을 참기 힘든 시기는 언제입니까? (해당사항 모두 표시)</p>
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_1 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_2 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_3 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_4 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_5 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_6 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_7 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_8 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_9 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_10 %}
        {% formfield player.tobacco_type_e_cigarette_hardest_to_resist_when_11 %}
	</div>
    <div class="alert border">{% formfield player.tobacco_type_e_cigarette_first_in_the_day %}</div>
    <div class="alert border">{% formfield player.tobacco_type_e_cigarette_hard_to_resist_in_public %}</div>
    <div class="alert border">{% formfield player.tobacco_type_e_cigarette_most_tasty_in_the_day %}</div>
    <div class="alert border">{% formfield player.tobacco_type_e_cigarette_sticks_per_day %}</div>
    <div class="alert border">{% formfield player.tobacco_type_e_cigarette_more_tasty_in_the_morning_than_the_rest %}</div>
    <div class="alert border">{% formfield player.tobacco_type_e_cigarette_sick_all_day_still_smoking %}</div>
    <p></p>
    <h3>8. 금연정보</h3>
 	<div class="alert border">
        ※ 이하에 쓰인 ‘흡연’ 또는 ‘담배’의 의미는 궐련형 일반담배, 액상형 전자담배, 궐련형 전자담배 등을 모두 포함한 담배 사용을 의미합니다. 이하에 쓰인 ‘금연’의 의미는 귀하가 사용하고 있는 모든 종류의 담배 사용 중지를 의미합니다.
    </div>
    <div class="alert border">{% formfield player.smoking_cessation_attempt_count %}</div>
    <div class="alert border">{% formfield player.within_one_month_do_you_plan_to_quit_smoking %}</div>
    <div class="alert border">{% formfield player.within_past_five_days_last_time_to_use_nicotine_alternatives %}</div>
    <div class="alert border">
        최근 5일 동안 흡연욕구가 생겼을 때 사용하셨던 방법과 효과에 모두 표기를 해주시기 바랍니다
    </div>
    <div class="alert border">{% formfield player.ate_food_products_when_smoking_desire_arose %}</div>
    <div class="alert row border">
            <p>담배가 피우고 싶을 때 식품류 (껌, 사탕, 비타민)를 대신 먹었음 -> 효과(0-10), 높을수록 효과높음</p>
            <table class="table">
                <tr>
                    <td>{{ form.effect_of_food_product_in_resisting_smoking_desire.label }}</td>
                    {% for choice in form.effect_of_food_product_in_resisting_smoking_desire %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="alert border">{% formfield player.drink_water_when_desiring_to_smoke %}</div>
    <div class="alert row border">
            <p>담배가 피우고 싶을 때 물을마심 → 효과 (0-10), 높을수록 효과높음</p>
            <table class="table">
                <tr>
                    <td>{{ form.effect_of_water_in_resisting_smoking_desire.label }}</td>
                    {% for choice in form.effect_of_water_in_resisting_smoking_desire %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="alert border">{% formfield player.pressure_tool_when_desiring_to_smoke %}</div>
    <div class="alert row border">
            <p>담배가 피우고 싶을 때 지압기와 같은 몸에 자극을 줄 수 있는 기구로 자극을 줌 → 효과 (0-10), 높을수록 효과높음</p>
            <table class="table">
                <tr>
                    <td>{{ form.effect_of_water_in_resisting_smoking_desire.label }}</td>
                    {% for choice in form.effect_of_water_in_resisting_smoking_desire %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="alert border">{% formfield player.mouth_wash_when_resisting_smoking_desire %}</div>
    <div class="alert row border">
            <p>담배가 피우고 싶을 때 구강청결제 (가그린, 양치질등) 등을 대신함 → 효과(0-10), 높을수록 효과높음</p>
            <table class="table">
                <tr>
                    <td>{{ form.effect_of_mouth_wash_in_resisting_smoking_desire.label }}</td>
                    {% for choice in form.effect_of_mouth_wash_in_resisting_smoking_desire %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="alert border">{% formfield player.aroma_pipe_or_change_stick_when_resisting_smoking_desire %}</div>
    <div class="alert row border">
            <p>담배가 피우고 싶을 때 아로마파이프나 체인지스틱 같은 흡연욕구저하제를 대신 사용함 → 효과 (0-10), 높을수록 효과높음</p>
            <table class="table">
                <tr>
                    <td>{{ form.effect_of_aroma_pipe_or_change_stick_in_resisting_smoking_desire.label }}</td>
                    {% for choice in form.effect_of_aroma_pipe_or_change_stick_in_resisting_smoking_desire %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="alert border"><b>가장 최근에 담배를 끊기 위해 사용하셨던 방법을 모두 표시해주십시오.</b>></div>
    <div class="alert border">{% formfield player.smoking_cessation_method_self_will %}</div>
    <div class="alert border">{% formfield player.smoking_cessation_method_call_center %}</div>
    <div class="alert border">{% formfield player.smoking_cessation_method_clinic %}</div>
    <div class="alert border">{% formfield player.smoking_cessation_method_pharmaceuticals %}</div>
    <div class="alert border">{% formfield player.smoking_cessation_method_champix %}</div>
    <div class="alert border">{% formfield player.smoking_cessation_method_internet %}</div>
    <div class="alert border">{% formfield player.smoking_cessation_method_other %}</div>
    <p></p>
    <h3>9. 금연경험</h3>
    <div class="alert border"><p>금연에 실패한 이유는? (해당사항 모두 표시)</p>
        {% formfield player.smoking_cessation_failure_reason_1 %}
        {% formfield player.smoking_cessation_failure_reason_2 %}
        {% formfield player.smoking_cessation_failure_reason_3 %}
        {% formfield player.smoking_cessation_failure_reason_4 %}
        {% formfield player.smoking_cessation_failure_reason_5 %}
        {% formfield player.smoking_cessation_failure_reason_6 %}
        {% formfield player.smoking_cessation_failure_reason_7 %}
	</div>
    <div class="alert border">{% formfield player.reason_to_quit_smoking_this_time_primary %}
    <div class="optional" id="reason_to_quit_smoking_this_time_primary_op">{% formfield player.reason_to_quit_smoking_this_time_primary_op %}</div></div>
    <div class="alert border">{% formfield player.reason_to_quit_smoking_this_time_secondary %}
    <div class="optional" id="reason_to_quit_smoking_this_time_secondary_op">{% formfield player.reason_to_quit_smoking_this_time_secondary_op %}</div></div>
    <div class="alert border">{% formfield player.reason_to_quit_smoking_this_time_tertiary %}
    <div class="optional" id="reason_to_quit_smoking_this_time_tertiary_op">{% formfield player.reason_to_quit_smoking_this_time_tertiary_op %}</div></div>
    <div class="alert border"><p>금연하는데 도움을 주는 사람은 누구입니까? (복수선택)</p>
        {% formfield player.smoking_cessation_helper_1 %}
        {% formfield player.smoking_cessation_helper_2 %}
        {% formfield player.smoking_cessation_helper_3 %}
        {% formfield player.smoking_cessation_helper_4 %}
        {% formfield player.smoking_cessation_helper_5 %}
        {% formfield player.smoking_cessation_helper_6 %}
        {% formfield player.smoking_cessation_helper_7 %}
        {% formfield player.smoking_cessation_helper_8 %}
        {% formfield player.smoking_cessation_helper_9 %}
        {% formfield player.smoking_cessation_helper_10 %}
	</div>
    <div class="alert border"><p>귀하의 질병력을 선택해주세요(해당사항 모두 표시)</p>
        {% formfield player.disease_history_1 %}
        {% formfield player.disease_history_2 %}
        {% formfield player.disease_history_3 %}
        {% formfield player.disease_history_4 %}
        {% formfield player.disease_history_5 %}
        {% formfield player.disease_history_6 %}
        {% formfield player.disease_history_7 %}
        {% formfield player.disease_history_8 %}
        {% formfield player.disease_history_9 %}
        {% formfield player.disease_history_10 %}
        {% formfield player.disease_history_11 %}
        {% formfield player.disease_history_12 %}
        {% formfield player.disease_history_13 %}
        {% formfield player.disease_history_14 %}
        {% formfield player.disease_history_15 %}
        {% formfield player.disease_history_16 %}
        {% formfield player.disease_history_17 %}
        {% formfield player.disease_history_18 %}
        {% formfield player.disease_history_19 %}
        {% formfield player.disease_history_20 %}
        {% formfield player.disease_history_21 %}
        {% formfield player.disease_history_22 %}
        {% formfield player.disease_history_23 %}
        {% formfield player.disease_history_24 %}
        {% formfield player.disease_history_25 %}
        {% formfield player.disease_history_26 %}
        {% formfield player.disease_history_27 %}
        {% formfield player.disease_history_28 %}
        {% formfield player.disease_history_29 %}
        {% formfield player.disease_history_30 %}
		{% formfield player.disease_history_31 %}
	</div>
     <div class="alert row border">
            <p>금연은 당신에게 어느 정도 중요합니까? (중요할수록 높은값)</p>
            <table class="table">
                <tr>
                    <td>{{ form.effect_of_food_product_in_resisting_smoking_desire.label }}</td>
                    {% for choice in form.effect_of_food_product_in_resisting_smoking_desire %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="alert row border">
            <p>당신은 금연에 성공할 자신감이 어느 정도 입니까?</p>
            <table class="table">
                <tr>
                    <td>{{ form.smoking_cessation_importance.label }}</td>
                    {% for choice in form.smoking_cessation_importance %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="alert row border">
            <p>당신은 금연할 준비가 어느 정도 되어 있습니까?</p>
            <table class="table">
                <tr>
                    <td>{{ form.smoking_cessation_readiness.label }}</td>
                    {% for choice in form.smoking_cessation_readiness %}
                        <td>{{ choice }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <b>흡연유형 (현재 비흡연시에는 흡연당시 기준으로 작성)</b>
    <p>아래에는 귀하가 동의할 수도 그렇지 않을 수도 있는 다섯 문항이 제시되어 있습니다. 각 문항에 동의 또는 반대하는 정도에 따라서 ①~⑤의 번호 중에서 선택해주세요. 자유롭고 솔직하게 응답해주시기 바랍니다.</p>

    <div class="center-align">
    <table class="tableFixedHead table table-striped table-bordered">
        <thead>
        <tr>
            <th></th>
            {% for sq_choices in L5 %}
            <th>{{ sq_choices }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sq in form %}
            {% if forloop.counter > 215 and forloop.counter < 236 %}
                <tr>
                <th>{{ sq.label }}</th>
                {% for choice in sq %}
                <td class="text-center align-middle">{{ choice.tag }}</td>
                {% endfor %}

                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    </div>
    <h3>10. 흡연유형 (현재 비흡연시에는 흡연당시 기준으로 작성)</h3>
    <h3>11. 금연행위에 대한 태도(Attitude toward the behavior)</h3>
    <h3>12. 금연행위에 대한 주관적 규범(Subjective norm) </h3>
    <h3>13. 금연행위에 대한 지각된 행위 통제(Perceived behavioral control)</h3>
    <h3>14. 금연의도(Intention)</h3>




    <button class="btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.
    </button>

{% endblock %}
